{{>nav}}
<div class="container">
    <div class="cart_page">
        <h2 class="cart_title">Your cart items</h2>
        <a href="/home">Back to shopping</a>
        <table>
            <thead>
                <tr>
                    <th>Product</th>
                    <th>Price</th>
                    <th>Quantity</th>
                    <th>Total</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody class="tBody">
              {{#if cartItems}}
                {{#each cartItems.items}}
                    <tr>
                        <td>
                            <img src="{{firstImage this.product.images}}" class="cart_img" alt="Spiced Mint Candleaf" width="50">
                        </td>
                        <td >{{this.product.price}}</td>
                        <td>
                                <input type="text" value="{{this.quantity}}" disabled class="quantity_form-input">
                        </td>
                        <td class="totalPrice">{{this.total_price}}</td>
                        <td>
                            <form >
                                <button type="submit" style="color: red; border: none; background: none; cursor: pointer;">Remove</button>
                            </form>
                        </td>
                    </tr>
                {{/each}}
              {{else}}
              <tr  >
                <td colspan="5" style="text-align: center; padding: 20px;">
                <h2>You dont have orders yet (:</h2>
              </td>
              </tr>
              {{/if}}  
                
            </tbody>
            
        </table>
        <h3 class="cart_page-total">{{cartItems.total_price}}</h3>
        <button class="checkout-btn">Check-out</button>
    </div>
</div>